{% extends "base.html" %}

{% block title %}Flower Shop - Home{% endblock %}

{% block content %}
<body>
    <form action="{{ url_for('add_to_cart') }}" method="post">
    <fieldset>
    <legend for="flower">Select Flowers</legend>
    <select name="flower" id="flower">
        {% for flower, details in flowers.items() %}
            <option value="{{ flower }}">{{ flower }} - ${{ details['price'] }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="1" min="1">
    <button type="submit">Add to Cart</button>
    </fieldset>
    </form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h2>Your cart</h2>

</body>

{% endblock %}
