<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>testing successful</h1>

</body>
</html>
<ul>
    <form action="{{ url_for('add_to_cart') }}" method="post">
    <fieldset>
    <legend for="flower">Select Flowers:</legend>
    <select name="flower" id="flower">
        {% for flower, details in flowers.items() %}
            <option value="{{ flower }}">{{ flower }} - ${{ details['price'] }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="1" min="1">
    <button type="submit">Add to Cart</button>
    </fieldset>
</form>
{% if messages = get_flashed_messages() %}
    {% for message in messages %}
    <ul class="flashes">
        {% if message in messages %}
        <li>{{ message }}</li>
        {% endif %}
    </ul>
    {% endif %}
{% endwith %}
    


